fastapi
pydantic>=1.8.0,<2.0.0
uvicorn
pyzmq~=25.1.1
asyncio
aiofiles
python-multipart
pyaudio
flaskwebgui
pandas
cologne_phonetics
starlette
Levenshtein
pyinstaller
auto-py-to-exe
gradio-client>=0.5.1